@charset "UTF-8";

html{
  font-size: 100%;  /*font-size:100%;としておくことでユーザーがブラウザで設定したフォントサイズが正しく反映される*/
}

body{
  color: #383e45;
  font-size: 0.9rem;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;  /*画像が画面の横幅からはみ出るのを防ぐためにmaxサイズを設定する*/
}

li{
  list-style: none;
}

.site-title{
  width: 120px;
  line-height: 1px;  /*h1タグが元々持つ高さよりも小さい値「1px」をしてすることで、h1タグの上下の余白を消してロゴの画像の高さと揃うようにしている*/
  padding: 10px 0;
}

.site-title a{
  display: block;  /*aタグのリンク範囲を親要素のサイズいっぱいにする*/
}

.section-title{  /*各セクションの見出し用（h2タグ）のクラス。各セクションの見出しは同じデザインなので。このクラスを共通で使用する。*/
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
}

.content-title{  /*Bicycle内の各コンテンツのタイトル用（h3タグ）のクラス*/
  font-size: 1rem;
  margin: 10px 0;
}

.wrapper{  /*画面の最大幅を指定するためのクラス。共通のクラスとして使用する*/
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}

#header{
  display: flex;  /*ロゴとグローバルナビゲーションを横並びにする*/
  justify-content: space-between;  /*両端に配置する*/
  align-items: center;  /*高さを中央で揃える*/
  margin: 0 auto;
}

#header ul{
  display: flex;  /*メニューを横並びにする*/
  padding: 10px 0;
}

#header li{
  margin-left: 30px;
}

#header li a{  /*aタグのリンク色を指定*/
  color: #24292e;
}

#header li a:hover{  /*メニューにマウスを乗せた時に少し透過させる*/
  opacty: 0.7;
}

#mainvisual{
  margin-bottom: 80px;
}

#mainvisual img{
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover; /*画像の高さの画像の高さを固定表示*/
}

#about .content{
  display: flex;  /*画像とテキストを横並びに配置*/
  justify-content: center;  /*中央に配置*/
  align-items: center;  /*高さの中心で配置*/
}

#about img{
  width: 100px;  /*画像の高さと横幅を指定*/
  height: 100px;
  border-radius: 50%;  /*画像の角を丸く切り取る*/
  margin-right: 30px;
}

#about .text{
  text-align: left;
}

#bicycle ul{
  display: flex;  /*横並びに配置*/
  justify-content: space-between;  /*両端揃えにする*/
}

#bicycle li{
  width: 32%;  /*画面幅を狭めた際に画像の横幅も狭まるようサイズは％で指定*/
}

#footer{
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
}


/*レスポンシブ対応*/
@media screen and (max-width: 600px){

  #mainvisual img{
    height: calc(100vh - 60px); /*スマホの場合、画像の高さをブラウザ下いっぱいまで広げる*/
  }    /*100vhは画面の縦幅いっぱいの高さを表しているが、このままだとヘッダーの高さ分（60px）だけはみ出してしまうので、-60pxすることで画面下ちょうどでおさまるようにしている。*/

  #about .content{
    flex-direction: column;  /*スマホでは縦に並べる*/
  }

  #about img{
    margin-right: 0;
  }

  #bicycle ul{
    flex-direcrion: column;  /*スマホでは縦に並べる*/
  }

  #bicycle li{
    width: 100%;
    margin-bottom: 30px;
  }

}